.new-task-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.new-task-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;

  textarea {
    resize: vertical;
    height: 100px;
  }
}
