/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f4f3f6;
  height: 100%;
}

.text-button{
  text-decoration: underline;
  background: none;
  border: none;
  padding: 0;
}
